<article class="course-card">
    <img src="{{image}}" alt="{{title}}" class="course-card__image">

    <div class="course-card__content">
        <h3 class="course-card__title">{{title}}</h3>

        <div class="course-card__rating">
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Star" class="course-card__star">
                <path d="M7.09461 2.75857L5.11101 2.47029L4.22429 0.672635C4.20008 0.623416 4.16023 0.583572 4.11101 0.559353C3.98758 0.498416 3.83758 0.549197 3.77586 0.672635L2.88914 2.47029L0.905544 2.75857C0.850857 2.76638 0.800857 2.79217 0.762576 2.83123C0.716296 2.8788 0.690793 2.94279 0.691672 3.00915C0.692551 3.07551 0.71974 3.13881 0.767263 3.18513L2.20242 4.58435L1.86336 6.56013C1.85541 6.6061 1.86049 6.65337 1.87804 6.69658C1.89558 6.7398 1.92489 6.77724 1.96263 6.80465C2.00037 6.83206 2.04503 6.84834 2.09156 6.85166C2.13809 6.85498 2.18461 6.84519 2.22586 6.82342L4.00008 5.8906L5.77429 6.82342C5.82273 6.8492 5.87898 6.85779 5.93289 6.84842C6.06883 6.82498 6.16023 6.69607 6.13679 6.56013L5.79773 4.58435L7.23289 3.18513C7.27195 3.14685 7.29773 3.09685 7.30554 3.04217C7.32664 2.90545 7.23133 2.77888 7.09461 2.75857ZM5.19383 4.38748L5.47586 6.03045L4.00008 5.25545L2.52429 6.03123L2.80633 4.38826L1.61258 3.2242L3.26258 2.98435L4.00008 1.48982L4.73758 2.98435L6.38758 3.2242L5.19383 4.38748Z" fill="#09B451"/>
            </svg>
            <p class="course-card__rating-number">{{rating}}</p>
        </div>

        <div class="course-card__price">
            <p>{{price}}</p>
        </div>

        <div class="course-card__students">
            <p class="course-card__length">{{length}}</p>
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Student" class="course-card__icon">
                <path d="M3.5 0.5C2.83696 0.5 2.20107 0.763392 1.73223 1.23223C1.26339 1.70107 1 2.33696 1 3C1 3.66304 1.26339 4.29893 1.73223 4.76777C2.20107 5.23661 2.83696 5.5 3.5 5.5C4.16304 5.5 4.79893 5.23661 5.26777 4.76777C5.73661 4.29893 6 3.66304 6 3C6 2.33696 5.73661 1.70107 5.26777 1.23223C4.79893 0.763392 4.16304 0.5 3.5 0.5ZM2 3C2 2.60218 2.15804 2.22064 2.43934 1.93934C2.72064 1.65804 3.10218 1.5 3.5 1.5C3.89782 1.5 4.27936 1.65804 4.56066 1.93934C4.84196 2.22064 5 2.60218 5 3C5 3.39782 4.84196 3.77936 4.56066 4.06066C4.27936 4.34196 3.89782 4.5 3.5 4.5C3.10218 4.5 2.72064 4.34196 2.43934 4.06066C2.15804 3.77936 2 3.39782 2 3ZM7.454 3.109C7.31339 3.03735 7.15781 3 7 3V2C7.31576 2.00002 7.62703 2.07481 7.90834 2.21824C8.18964 2.36167 8.43299 2.56966 8.61847 2.82521C8.80394 3.08076 8.92628 3.37659 8.97546 3.68849C9.02464 4.0004 8.99927 4.31952 8.90142 4.61974C8.80358 4.91996 8.63604 5.19275 8.41251 5.41578C8.18899 5.63881 7.91584 5.80574 7.6154 5.90292C7.31497 6.0001 6.99579 6.02477 6.68399 5.9749C6.37219 5.92503 6.07663 5.80204 5.8215 5.616L6.4105 4.808C6.52201 4.88916 6.64911 4.94637 6.78379 4.97604C6.91848 5.00572 7.05785 5.00721 7.19314 4.98043C7.32844 4.95364 7.45672 4.89917 7.56995 4.82041C7.68317 4.74166 7.77888 4.64034 7.85106 4.52282C7.92324 4.4053 7.97033 4.27412 7.98937 4.13752C8.00841 4.00092 7.99899 3.86186 7.9617 3.72908C7.92441 3.5963 7.86006 3.47267 7.77268 3.36596C7.68531 3.25925 7.57681 3.17176 7.454 3.109ZM8.999 9.5C8.99887 8.96987 8.78822 8.4615 8.41336 8.08664C8.0385 7.71178 7.53013 7.50113 7 7.501V6.5C7.79561 6.50013 8.55859 6.81625 9.12117 7.37883C9.68375 7.94141 9.99987 8.70439 10 9.5H8.999ZM7 9.5H6C6 8.83696 5.73661 8.20107 5.26777 7.73223C4.79893 7.26339 4.16304 7 3.5 7C2.83696 7 2.20107 7.26339 1.73223 7.73223C1.26339 8.20107 1 8.83696 1 9.5H0C0 8.57174 0.368749 7.6815 1.02513 7.02513C1.6815 6.36875 2.57174 6 3.5 6C4.42826 6 5.3185 6.36875 5.97487 7.02513C6.63125 7.6815 7 8.57174 7 9.5Z" fill="#09B451"/>
            </svg>
            <p>{{students}}</p>
        </div>
    </div>
    
</article>
